{% extends "main.html" %}
{% load honeypot i18n %}

{% block title %}{% trans "Contact" %} | {{ block.super }}{% endblock %}

{% block css %}<link rel="stylesheet" href="/media/css/form.css" type="text/css" media="screen" />{% endblock %}

{% block body_id %}contact{% endblock %}

{% block content %}

<h2>{% trans "Contact us" %}</h2>

<p>{% trans "Get in touch." %}</p>

<form method="post" action=".#content-top" class="contact">

<p>
<label for="{{ form.email.auto_id }}">{% trans "Your name" %}</label>
{{ form.name }}
</p>

<p class="form-error">
  {% if form.name.errors %}{{ form.name.errors|striptags }}{% endif %}
</p>


<p>
<label for="{{ form.email.auto_id }}">{% trans "Your email" %}</label>
{{ form.email }}
</p>

<p class="form-error">
  {% if form.email.errors %}{{ form.email.errors|striptags }}{% endif %}
</p>


<p>
<label for="{{ form.body.auto_id }}">{% trans "Your message" %}</label>
{{ form.body }}
</p>

<p class="form-error">
  {% if form.body.errors %}{{ form.body.errors|striptags }}{% endif %}
</p>

{% render_honeypot_field %}

<p class="clearfix">
  <input type="submit" name="submit" class="submit" value="{% trans "Submit" %}" />
</p>
</form>

{% endblock %}
